# Python virtual environment
venv/
env/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

#
# System files
#
Icon
.DS_Store

#
# Editors
#
*.sublime-workspace
/.vscode